#wrapper{
    text-align: center;
}
#lg {
    display: inline-block;
}

#searchform{
    position: absolute;
    top: 311px;
}

input[type="submit"]{
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;

}

#wrapper2{
    text-align: center;
}

#inpt{
    padding-top: 18px;
    position: absolute;
    top:53px;
    display: inline-block;

}